[submodule "vimdoc-ja"]
	path = vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja
[submodule "start/"]
	path = start/
	url = https://github.com/vim-jp/vimdoc-ja
[submodule "start/vimdoc-ja"]
	path = start/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja
